body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

.container { 
    text-align: center;     
    background-color: white; 
    padding: 20px;
    border-radius: 10px;   
}