body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0dab3f;
    overflow-x: hidden;
}

header {
    background-color: #069457;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800;
}

main {
    padding: 120px 40px 40px;
    text-align: center;
    background-color: rgb(4, 111, 49);
    padding: 120px;
    height: auto;
    overflow: hidden;
    max-width: 900px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 25px;
    color: #333;
    margin-bottom: 15px;
}
p {
    font-size: 18px;
    color: #f8f4f4;
    line-height: 1.6;
    max-width: 80%;
}

footer {
    background: #059265;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}