body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
main{
    height: 100px;
    width: auto;
}